<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../content/css/slydify.css">
	 <link href="../content/css/flat-ui.css" rel="stylesheet">
    <link href="../content/css/style.css" rel="stylesheet">

	<title>Simplevia</title>
	
	<body>
	

	<div class="jumbotron top-sec">
		<div class="row">
				<div class="col-md-7">
					<h1>SIMPLEVIA</h1>
					<h3>CREATE . SECURE . EXPLORE</h3>
          <p>Simplifying IT Solution</p>
					<a class="btn btn-hg btn-embossed btn-primary" href="#">Learn more</a>
				</div>
				<div class="col-md-5 hlf  hidden-xs">
					<div id="slider">
						<img src="../content/img/img7.jpg">
						<img src="../content/img/img5.jpg">
						<img src="../content/img/img6.jpg">
					</div>
				</div> 
		</div>
	</div>
	<nav class="navbar navbar-default  main-nav">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">Simplevia</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">Services</a></li> 
	        <li><a href="#">Partners</a></li> 
	        <li><a href="#">Careers</a></li> 
	        <li><a href="#">Contact</a></li> 
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container"> 
		<h1 class="text-center">WELCOME TO SIMPLEVIA</h1>
</div>
	<div class="container demo-tiles">
        <div class="col-md-4">
          <div class="tile">
            <img src="../content/img/Retina-Ready.png" alt="Lower Costs" class="tile-image big-illustration">
            <h3 class="tile-title">Lower Costs</h3>
            <p class="text-center">The solutions we provide will greatly reduce your overall CapEx and OpEx.
				Also, depending on the solution that you need,
			Simplevia can deploy and install it without the added implementation costs.</p>
          
          </div>
        </div>

        <div class="col-md-4">
          <div class="tile">
            <img src="../content/img/Pensils.png" alt="Skills" class="tile-image">
            <h3 class="tile-title">Skills</h3>
            <p>Simplevia is devoted to bringing the best solutions to all clients. In order to do that, we make sure that every one of us is highly adept and proficient in everything we do.</p>
            
          </div>
        </div>

        <div class="col-md-4">
          <div class="tile">
            <img src="../content/img/Watches.png" alt="Customer Focus" class="tile-image">
            <h3 class="tile-title">Customer Focus</h3>
            <p>It is our goal that our customers have the best experience with the solutions that they get. We see to it that all concerns of our clients be addressed by our account managers and technical support within the day. </p>
          
          </div>
        </div>        
      </div> <!-- /tiles -->

      <!-- about -->

        <div id="About" class="container">
          <div class="row">
            <h2 class="page-header">About Us</h2>
            <p>Simplevia Technologies Inc. was founded by reputable IT individuals with a strong background in their respective fields.<br><br>
            Simplevia offers cutting-edge solutions to small-medium enterprises. We provide the simplest and most practical solutions to our clients without compromising perfomance.<br><br>
            Simplevia offers a wide range of services from data center solution, management and inventory systems through RFID technology, system development and so much more. We develop different solutions from simple systems such as asset tracking to much more complex ones such as cashless
            payment systems through NFC cards.<br><br>Our solution offering also extends to the whole telecom industry’s infrastructure value
            chain from In-Building Solutions (IBS) to outdoor construction, site acquisition services and
            telecom implementaion.<br><br>Simplevia is rapidly gaining the confidence and trust of major enterprises by delivering the best solutions and allowing businesses to faster achieve their investment return and time to revenue.</p>
          </div>
        </div>
        
        <!-- about -->

<div class="bg-1">
	<div class="container text-center">
	  <div class="col-lg-6 col-sm-6"> 
	  	
	  <img src="../content/img/tab3.png">
	 
	</div>
	
	<hr> 

	 <div id="Carousel2nd" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
   
    <div class="carousel-inner">

      <div class="item active">
      
        <p>Nimble Storage is the technology leader in flash storage solutions, providing a single architecture for all enterprise applications and cloud computing .</p>
  
      </div>

      <div class="item">
        <p>The Adaptive Flash platform provides IT organizations with the ability to:</p>
        <br>
        <br>
		<p> Speed the deployment and optimize the performance of business applications with pre-validated SmartStack reference architectures. Nimble SmartStack solutions consist of Nimble storage arrays and software integrated with technology partner compute, networking, and software technologies – optimized for specific workload environments.</p>
       
      </div>
    
      <div class="item">
     
          
         <p>  Scale storage performance and capacity in line with changing application and user requirements.</p>
     
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel2nd" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Carousel2nd" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

 <hr>
	</div>
</div>

<!-- START VIVO -->
		<div>
           <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
            <div class="col-md-12 text-center">
                <h2 class = "lead-text">
                   IN CASE YOU NEED ANY HELP
                </h2>
            </div>
            <div class="carousel-inner">
                <div class = "item active">
                    <div class="bg-gray center-div">
                        <div class = "help-section">
                            <div class="icon-wrap-1 icon-bg img-circle">
                                <span class="fa fa-question">
                                </span>
                            </div>
                            <p class = "lead-text text-center">
                                PRESALE QUESTION
                            </p>
                            <p class = "small-text text-center">
                               You can contact our 24/7 Account Managers for the price quoting.
                                <br><br><br>
                                <a href="#" class = "btn btn-lg btn-orange text-center links">
                                    Learn more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class = "item">
                    <div class="bg-gray center-div">
                        <div class = "help-section">
                            <div class="icon-wrap-1 icon-bg img-circle">
                                <i class="fa fa-h-square">
                                </i>
                            </div>
                            <p class = "lead-text text-center">
                                NEED SUPPORT?
                            </p>
                            <p class = "small-text text-center">
                                Contact us anytime or anywhere you are for Technical Supports.
                                <br><br><br>
                                <a href="#" class = "btn btn-lg btn-orange text-center links">
                                    Learn more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class = "item">
                    <div class="col-md-12 bg-gray center-div">
                        <div class = "help-section">
                            <div class="icon-wrap-1 icon-bg img-circle">
                                <i class="fa fa-users">
                                </i>
                            </div>
                            <p class = "lead-text text-center">
                                CHECK FORUM
                            </p>
                            <p class = "small-text text-center">
                                You can view our FAQ (frequently asked questions)  for more details.
                                <br><br><br>
                                <a href="#" class = "btn btn-lg btn-orange text-center links">
                                    Learn more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>
            </div>
        </div>

        <!-- END VIVO -->

	<script  src="http://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    	<script type="text/javascript" src="../content/js/slydify.js"></script>
		<script>
			$(document).ready(function(){
			    $(".main-nav").affix({offset: {top: $(".top-sec").outerHeight(true)} });
			});
			$(function() {
				$("#slider").slydify({
					sliceCount: 8,
					easing: 'ease-in',
					sideColor: '#222',
					startPosition: 0,
					blockRows: 6,
					blockColumns: 6,
					blocksDelay: 100,
					blocksDuration: 350,
					blindsDuration: 350,
					blindsDelay: 100,
					zipDuration: 350,
					zipDelay: 50,
					barsDuration: 400,
					barsDelay: 40
				});
			});
		</script>

  </body>
</html>