<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins|Work+Sans" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="try.css">

	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
	<title>QuickTrack</title>
	
</head>
<body>


	<div class="botbg">
		<div class="cov">
			<!--<div class="display-middle" style="white-space:nowrap;">
		 <span class="hide-small">
			<h1>QuickTrack</h1>
				<h2>RFID Asset Tracking and Inventory Management System</h2>
				<p>A simple way to manage your business.</p></span> </div>-->
		</div>	
	</div>

<!-- <div class="color"> -->


	<div class="container">
	<div class="title">
	
			<h1 style="padding-bottom: 10px; padding-top: 20px; padding-left: 10%;">What is QuickTrack?</h1>
		<div class="title-xs">
			
		</div>
	</div>

  		<div class="row">
  			<div class="col-md-5" style="align-content: 50%; padding-top: 100px;">
				<p>Quicktrack is an inventory management and asset tracking system that combines the use of a web-based software, RFID  tags, readers and  mobile devices to automate and streamline the management of inventory (e.g. goods, consumables, supplies, stock,etc.).
				</p>
  				
  				<p>Whether you are tracking inventory used to perform a service or sold to customers, using an inventory system provides staff accountability and minimizes inventory stockouts and shrinkage. 
  				</p>
		
  				<p>By using Quicktrack, you can identify what you have, monitor the changes in the physical location of any asset and account forchanges in their values over time.
  				</p>
  			</div>
  				
  				<div class="col-md-4">
  					 <img src="../content/img/quicktrack/flower.jpg" class="text04" style="padding-bottom: 30px; padding-top: 40px;" height="200" width="250">
  		
  					 <img src="../content/img/quicktrack/flower.jpg" class="text05" style="padding-bottom: 30px; padding-top: 40px;" height="200" width="250">
  				</div>

  				<div class="col-md-3">
   		 			<img src="../content/img/quicktrack/flower.jpg" class="text06" style="padding-bottom: 30px; padding-top: 40px;" height="200" width="250">
   		
   					 <img src="../content/img/quicktrack/flower.jpg" class="text07" style="padding-bottom: 30px; padding-top: 40px;" height="200" width="250">
				</div>
		</div>
	</div>
	<!-- </div> -->
	
			<div class="container">
				<div class="title">
					<h1 style="padding-bottom: 10px; padding-top: 20px; padding-left: 10%;">Challenges in inventory management</h1>
					<div class="title-xs">
						
					</div>
				</div>
					<div class="col-md-12" style="align-content: 50%; padding-top: 50px; text-align: center;">
					<p>Business inventory management is a serious challenge for many companies. Although a tight inventory control and a sales forecast are two strategies that help with inventory management, companies are still facing many inventory challenges. Taking the time to look at and understand these challenges can be a turning point in solving them. </p>
					</div>

				<div class="row">
					<div class="col-md-6" style="align-content: 50%; padding-top: 50px; text-align: center;">
						<p>• Assembling a team that decides when new products have to be ordered or manufactured to keep up with the effects of major marketing campaign.
						</p>
					</div>

					<div class="col-md-6" style="align-content: 50%; padding-top: 50px; text-align: center;">
						<p>• Determining how often to order new inventory items when this isn’t set by the supplier or the factory from which the products are obtained, while taking into account changeover and inventory costs. </p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6" style="align-content: 50%; padding-top: 50px; text-align: center;">
						<p>• Breaking down the inventory into safety stock, replenishment stock, and normal stock in order to maintain adequate levels for each of them.</p>
					</div>
					<div class="col-md-6" style="align-content: 50%; padding-top: 50px; text-align: center;">
						<p>• Performing effective inventory control on all parts of your inventory, not only the finished goods.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6" style="align-content: 50%; padding-top: 50px; text-align: center;">
						<p>• Using statistical formulas that integrate sales forecast data to accurately calculate safety stock levels.</p>
					</div>
					<div class="col-md-6" style="align-content: 50%; padding-top: 50px; text-align: center;">
						<p>• Recalculating safety stock levels at least every six months to improve the effectiveness of your inventory control. </p>
					</div>
			
				</div>
			</div>
	

	<div class = "container">
		<div class="title">
			<h1 style="padding-bottom: 10px; padding-top: 20px; padding-left: 10%;">Features</h1>
			<div class="title-xs">
			</div>
		</div>
	
	<br><br>
		<!-- <div class = "row" style="height: 50vh"> -->
			
				<div class = "col-md-4 style_prevu_kit"><!-- animation2 -->
					<!-- <div class="fond">  -->
					<!-- <div class=""> -->
						<h4 class = "text-center">Complete Inventory System</h4>
						<img src="../content/img/quicktrack/database.png" alt="Avatar" class="image">
					  <!-- <div class="overlay"> -->
					  
						<p class = "text-justify">Quicktrack can be used in every major industry and is designed to fit a wide range of technical and user requirements. <!-- With an equal focus on technological power and user experience, --> Quicktrack provides comprehensive solutions consisting of software, RFID.</p>
					<!--  </div> -->
				</div>


				<div class="col-md-4 style_prevu_kit"><!-- animation2 -->
					<!-- <div class="fond">  -->
					<!-- <div class=""> -->
						<h4 class="text-center">Control Inventory Your Way </h4>
						<img src="../content/img/quicktrack/checklist.png" alt="Avatar" class="image">
						<!-- <div class="overlay"> -->
						<p class="text-justify">Quicktrack offers every client a wide range of RFID tags and cards that can be attached to virtually any asset of a company. Passive, Active and Battery- enabled tags can be used interchangeably depending on the application.</p>
				</div>
				
			

				<div class="col-md-4 style_prevu_kit"><!--  animation2 -->
					<!-- <div class="fond">  -->
					<!-- <div class=""> -->
						<h4 class="text-center"> Track Everything With RFID</h4>
						<img src="../content/img/quicktrack/map-location.png" alt="Avatar" class="image">
					<!-- 	<div class="overlay"> -->
						<p class="text-justify">The system allows you to quickly and accurately scan inventory with handheld or fixed RFID reader. Whether you need to scan shelves, bins, warehouse aisles, or production items, there is an RFID reader that will work for your environment and applications.</p>
				</div>

			<!-- </div> -->
	
			<div class="row">
				<div class="col-md-4 style_prevu_kit">
					<h4 class="text-center">Simplify Equipment Checkout </h4>
					<img src="../content/img/quicktrack/archive.png" alt="Avatar" class="image">
						
					<p class="text-justify">To and from tracking of your assets with due dates. Know when employees, clients or team members have checked out an asset and when it is due. Expanded role-based security for segmenting user access levels.</p>
				</div>
			

				<div class="col-md-4 style_prevu_kit">
					<h4 class="text-center">Manage Inventory Maintenance </h4>
					<img src="../content/img/quicktrack/file.png" alt="Avatar" class="image">
					<p class="text-justify">Schedule and perform one–time and recurring maintenance.</p>
				</div>
		

				<div class="col-md-4 style_prevu_kit">
					<h4 class="text-center">Asset Depreciation Calculator </h4>
					<img src="../content/img/quicktrack/calculation.png" alt="Avatar" class="image">
					<p class="text-justify">Calculate asset depreciation over its life, book value and expenses. Use all methods of computing depreciation and/or create your own formula.
					</p>
				</div>
			</div>
		</div>



	

	<div class="container">
		<div class="title">
				<h1 style="padding-bottom: 10px; padding-top: 20px; padding-left: 10%;">Applications</h1>
			
		</div>
		<div class="title-xs">
			</div>
				<br><br>

		<div class="row">

			<div class="col-md-6 bgtext">
				<!-- style="border-bottom: 3px solid lightblue; width:15% " --><h3 >Asset Tracking</h3>
					Quicktrack’s asset tracking solution provides a great opportunity for businesses to be able to locate all important devices and assets whether moving or stationary. Several RFID Readers can be placed within designated areas that can track all tagged items in real time.
			</div>

			<div class="col-md-6">
				<img src="../content/img/quicktrack/asset.png" class="asset" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">

			</div>
		</div>
	

	
		<div class="row" style="background-color: #ededed;">
			<div class="col-md-6">
				<img src="../content/img/quicktrack/retail.png" class="asset" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">

			</div>
			<div class="col-md-6 bgtext">
				<!-- style="border-bottom: 3px solid lightblue; width:15% "--><h3 >Retail Management</h3> 
					Innovative RFID retail solutions provide convenient and cost- effective ways to manage inventory, track high-value items,and increase retail supply chain efficiency and visibility. Quicktrack can provide customized retail products including smart shelves, smart cabinets, and jewelry tags for retailers.
			</div>
		</div>
	

		<div class="row">
			
			<div class="col-md-6 bgtext">
				<!-- style="border-bottom: 3px solid lightblue; width:15% "--><h3 >Healthcare</h3> 
					Quicktrack also provide products for the healthcare industry that makes it more convenient for all staff, nurses, doctors and administrators to go about their everyday tasks. Patients and doctors can be equipped with RFID wristbands for easy monitoring.
			</div>
			<div class="col-md-6">
				<img src="../content/img/quicktrack/healthcare.png" class="asset" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">

			</div>
		</div>
	
	
		<div class="row" style="background-color: #ededed;">
			<div class="col-md-6">
				<img src="../content/img/quicktrack/warehouse.png" class="asset" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">

			</div>
			<div class="col-md-6 bgtext">
				<!-- style="border-bottom: 3px solid lightblue; width:15% "--><h3 >Warehouse Management</h3> 
					Quicktrack’s RFID Warehouse Management products are extremely valuable for warehousing operations. Warehouse inventory can be so much easier through RFID tags specifically designed for this purpose. Also track containers, fleet and pallets in real time through Quicktrack’s RTLS technology.
			</div>
			
		</div>
	

		<div class="row">
			
			<div class="col-md-6 bgtext">
				<!-- style="border-bottom: 3px solid lightblue; width:15% "--><h3 >Access Control</h3> 
					Quicktrack’s Access Control Solution offers access control system for human personnel and mobile assets such as laptops, servers, and files. From a security perspective, it covers all personnel entering a door or specified check point, thus closing a classic loophole in most High-Frequency systems where people can just walk by and avoid the reader.
			</div>

			<div class="col-md-6">
				<img src="../content/img/quicktrack/access-control.png" class="asset" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">

			</div>
			
		</div>
	</div>

	

	<div class="container">
		<div class="title">
				<h1 style="padding-bottom: 10px; padding-top: 20px; padding-left: 10%;">Benefits</h1>
			<div class="title-xs">
			</div>
		</div>

				<div class="col-md-12" style="align-content: 50%; padding-top: 50px; text-align: center;">
					<p>Monitoring the costs, usage, product details, and locations of the assets accurately is a critical challenge. In order to stay ahead of this potential liability, asset control solutions such as Quicktrack help streamline tracking efforts and reduce associated expenses.
					</p>
				</div>

		<div class="row text-center">
			<div class="col-md-3">
					<h3>Increase Visibility</h3>
				<div class="">
					<img src="../content/img/quicktrack/eye.png" height="200" width="200">
				</div>
			</div>
			
			<div class="col-md-3">
					<h3>Improve Accuracy</h3>
					<img src="../content/img/quicktrack/target.png" height="200" width="200">
			</div>

			<div class="col-md-3">
				<h3>Greater Efficiency</h3>
				<img src="../content/img/quicktrack/rating.png"  style="padding-bottom: 30px; padding-top: 40px;" height="200" width="100">

			</div>

			<div class="col-md-3">
				<h3>Improve Productivity</h3>
				<img src="../content/img/quicktrack/build.png"  style="padding-bottom: 30px; padding-top: 40px;" height="200" width="100">
			</div>

			<div class="row">
				<div class="col-md-3">
				<p>Know where your assets are in real time</p>
				</div>

				<div class="col-md-3">
				<p>Eliminate data entry errors by using mobile RFID readers</p>
				</div>

				<div class="col-md-3">
				<p>Share inventory data with colleagues and standardize inventory control tasks.</p>
				</div>

				<div class="col-md-3">
				<p>Spend less time on inventory stock control, and reduce understock and overstock.</p>
				</div>
			</div>
		</div>
	</div>


<div class="container">
	<div class="title">
			<h1 style="padding-bottom: 10px; padding-top: 20px; padding-left: 10%;">How it works</h1>
		<div class="title-xs">
		</div>
	</div>
  		<div class="row">
  			<div class="col-md-6" style="align-content: 50%; padding-top: 100px;">
				<p>At its core, Quicktrack’s inventory control
works by tracking two main functions of your stock room
or warehouse — receiving (incoming) and shipping
(outgoing).


				</p>
  				
  				<p>The goal of inventory control is to accurately
know current inventory levels and automatically minimize
understock and overstock situations.
  				</p>
		
  				<p>By efficiently tracking quantities across stocking
locations you’ll have insight and be able to make smarter
inventory decisions.
  				</p>
  			</div>

  			<div class="col-md-6">
  					 <img src="../content/img/quicktrack/flower.jpg" class="text04" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">
  	
  					
  				</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
  					 <img src="../content/img/quicktrack/flower.jpg" class="text04" style="padding-bottom: 30px; padding-top: 40px;" height="300" width="500">
  	
  					
  				</div>
	</div>
</div>
  <script src="../content/img/quicktrack/https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../content/img/quicktrack/https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>