.navbar, .jumbotron{	margin-bottom: 0px;	border-radius: 0; }
.main-nav .navbar-brand{	color: #1ABCA6; }
.main-nav .container-fluid{  margin: 25px auto;}
.jumbotron{	background-color: #2ECC71; background: #2ECC71 url(../img/img6.jpg) no-repeat center fixed; 
    background-size: cover; position: relative; padding-right: 0; margin-right: 0 ; overflow: hidden;}
    .ab{
      position: absolute; width: 100%; height: 100%; top: 0; left: 15px;
    }
.top-sec{	height: 720px; }
.top-box{ height: 100px; width: 300px;  background-color: /*#ffc966*/ #2abb67; overflow: hidden;}
.intro-note{ color: #2ecc71; }
.intro-note b{ color:  #ffaf1a!important;  }
.intro-note  h3{ letter-spacing: 0px;  font-size: 24pt}
.intro-note p{ letter-spacing: 10px; color: #eee;  }
.hlf{	height: 100%;	margin: -45px auto auto auto;}
.navbar-default{	background-color: inherit;  padding: 50px auto;}
.top-sec{	padding: 100px;}
.top-sec h3{	color: #fff;}
.top-sec img{	width: 100%;}
.top-sec .btn{	margin-top: 100px;}
.logo-top{	margin: 200px }
.well-lg{	height: 1200px;}
.affix { top: 0; width: 100%; background-color: #fff; z-index: 10000; }
.section{ margin: 100px auto; }

/* Ange */
body {
    color: #797979;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
}

.h1, .h2 , .h3, .p{
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.img{
	width: 100px;
	height: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.demo-tiles {
    margin-bottom: 46px;
    position: relative;
    min-height: 1px;
    padding-right: 25px;
    padding: 100px;
    vertical-align: center;
}
.bg-1 { 
      background-color: #F9F9F3; /* Green */
    
  }
  
 #Carousel2nd .carousel-inner , 
  #Carousel2nd .item, .item active, 
   #Carousel2nd .carousel slide {
  width:500px; 
  height:400px;
   }
   .carousel-indicators{
   	vertical-align: right;
   	
   }

/*#about{
  background-color: #34495e;
  color: #fff;
}*/

.section img{
  width: 100%;
}
/* Ange */

/*VIVO*/
.links{
  color: #e74c3c;
}

.icon-bg{
  background: #f39c12;
}

.icon-wrap-1 {
    font-size: 2em;
    height: 60px;
    width: 60px;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin: 0px auto;
}

.center-div{
  margin: 0px auto;
}

.carousel-control{
  background-image: none!important;
  width: 10%!important;
  opacity: 1!important;
}

.help-section{
  padding: 145px 45px 145px 45px;
}

.lead-text{
  font-size: 35px;
}

.small-text{
  font-size: 22px;
}

.carousel-indicators li{
  border: 1px solid #9a9a9a!important;
}

.carousel-indicators .active{
  background: #9a9a9a!important;
}

.btn-orange{
  background-color: #F39C12;
  color: white;
}

.bg-gray{
  background: #f9f9f3;
}



@media only screen and (max-width: 650px) {
  .lead-text{
    font-size: 24px;
  }

  .small-text{
    font-size: 18px;
  }
}
/*VIVO*/

.hlf {
  overflow: hidden;
}

.mg-50{
  margin: 50px auto;
}
