.navbar,
.jumbotron{
	margin-bottom: 0px;
	border-radius: 0;
}

.main-nav .navbar-brand{
	color: #1ABCA6;
}

.jumbotron{
	background-color: #2ECC71;
	background: #2ECC71 url(../img/top.png) no-repeat center fixed; 
    background-size: cover;
}

.top-sec{
	height: 800px;
	padding-top: 500px;
}

.top-sec > .row{
	height: 100%;
	border: 3px solid #fff;
}

.hlf{
	height: 100%;
	margin: 0px auto auto auto;
}

.navbar-default{
	background-color: inherit;
  padding: 50px auto;
}

.top-sec{
	padding: 100px;
}

.top-sec h3{
	color: #fff;
}

.top-sec img{
	width: 100%;
}

.top-sec .btn{
	margin-top: 100px;
}

.logo-top{
	margin: 200px
}

.well-lg{
	height: 1200px;
}
 .affix {
      top: 0;
      width: 100%;
      background-color: #fff;
      z-index: 10000;
  }

.section{
  margin: 100px auto;
}
  /* Ange */
  body {
    color: #797979;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
}

.h1, .h2 , .h3, .p{
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.tile{
    background-color: #eff0f2;
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    size: 10px;
    height: 400px;

}
.img{
	width: 100px;
	height: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.demo-tiles {
    margin-bottom: 46px;
    position: relative;
    min-height: 1px;
    padding-right: 25px;
    padding: 100px;
    vertical-align: center;
}
.bg-1 { 
      background-color: #F9F9F3; /* Green */
    
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  
 #Carousel2nd .carousel-inner , 
  #Carousel2nd .item, .item active, 
   #Carousel2nd .carousel slide {
  width:500px; 
  height:400px;
   }
   .carousel-indicators{
   	vertical-align: right;
   	
   }

/*#about{
  background-color: #34495e;
  color: #fff;
}*/

.section img{
  width: 100%;
}
/* Ange */

/*VIVO*/
.links{
  color: #e74c3c;
}

.icon-bg{
  background: #f39c12;
}

.icon-wrap-1 {
    font-size: 2em;
    height: 60px;
    width: 60px;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin: 0px auto;
}

.center-div{
  margin: 0px auto;
}

.carousel-control{
  background-image: none!important;
  width: 10%!important;
  opacity: 1!important;
}

.help-section{
  padding: 145px 45px 145px 45px;
}

.lead-text{
  font-size: 35px;
}

.small-text{
  font-size: 22px;
}

.carousel-indicators li{
  border: 1px solid #9a9a9a!important;
}

.carousel-indicators .active{
  background: #9a9a9a!important;
}

.btn-orange{
  background-color: #F39C12;
  color: white;
}

.bg-gray{
  background: #f9f9f3;
}



@media only screen and (max-width: 650px) {
  .lead-text{
    font-size: 24px;
  }

  .small-text{
    font-size: 18px;
  }
}
/*VIVO*/