/*

GENERAL SETTINGS

*/


section,
header,
#projects .item{
	height: 100vh;
	width: 100%;
	overflow-y: hidden
}



/*

NAVIGATION

*/


.navbar-default{
	background-color: rgba(0,0,0,0);
}

.navbar, .jumbotron{
	margin-bottom: 0px;
	border-radius: 0;
}

.main-nav .container-fluid{
	margin: 25px auto;
}

.main-nav .navbar-brand{
	color: #2ecc71;
	text-shadow: 3px 3px 5px #333;
}

.main-nav .navbar-brand i{
	color: #e67e22;
}

.main-nav .nav li a{
	color: #fff;
	font-weight: normal;
}

@media(min-width: 768px){
	.on-top-1{
		border: 1px solid #f39c12;
		border-radius: 10px;
	}
}

.off-top{
	display: none !important;
}

.affix {
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10000;
}

.main-nav .navbar-brand{
	color: #2ecc71;
	text-shadow: none;
}

.affix .on-top-1{
	background-color: inherit;
	color: #34495e !important;
}

.affix .nav li a{
	color: #34495e;
	font-weight: normal;
}

.affix .on-top-1 a:hover{
	color: #2ecc71 !important;
}

.affix .off-top{
	display: block !important;
}



/*

TOP SECTION

*/

header.jumbotron{
	position: relative;
	background-color: #2ECC71;
	background: #2ECC71 url(../img/img6.jpg) no-repeat center fixed; 
    background-size: cover; 
    position: relative;
    padding-right: 0;
    margin-right: 0 ;
    overflow: hidden;
}

header p{
	letter-spacing: 10px;
}

.cover{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(42, 187, 107, 0.5);
	color: #fff;
	padding-top: 200px;
}

.cover > h2{
	margin-top: 20vh;
}

.cover > * {
	margin: 20px auto;
}

.cover > .btn{
	margin-top: 45px;
}



/*

WELCOME SECTION

*/


#welcome-sec{
	background-color: #eee;
}
#welcome-sec .row{
	margin: 100px auto;
}
#welcome-sec{
	font-weight: normal;
}


/*

SERVICES SECTION

*/


#services .row > div .inner-tile{
	margin: 0 10px;
	background-color: #ecf0f1;
}

.inner-tile > p{
	margin: 10px;
	height: 100px;
}

#services{
	text-align: center;
}

.services-header h3{
	margin-top: 80px;
	color: #2ecc71;
}

.services-header h4{
	margin-bottom: 80px;
	font-weight: normal;
	font-size: 18pt;
}

#projects .carousel-inner .item{
	background-size: cover;
}

#projects .carousel-caption{
	color: #555 !important;
}

#projects .carousel-inner .cover{
	/*background-color: rgba(52, 152, 219,0.8);*/
	background-color:  rgba(255,255,255,0.8);
}

#proj-1{
	background: url(../img/img6.jpg) no-repeat center fixed;
}
#proj-2{
	background: url(../img/img7.jpg) no-repeat center fixed;
}

/*

ABOUT SECTION

*/

#about{
	background-color: #e67e22
}
#about > div > div,
#clients > div > div
{
	margin: 100px auto;
}

#about  h2{ 
	letter-spacing: 10px;
	margin-bottom: 20px;
}
#about p{ 
	letter-spacing: normal; 
	color: #333;
}

.about-note p{ 
	font-size: 16pt;
}

#about .btn-about{
	background-color: none;
	color: #fff;
	border: 2px solid #fff;
	margin-top: 50px;
}


/*

CLIENTS SECTION

*/


/*

FOOTER SECTION

*/

footer{
	background-color: #ecf0f1;
	padding: 100px auto;
	display: table;
	width: 100%;

}

footer h6{
	font-weight: normal;
}

